body {
  font-family: 'Cairo', sans-serif;
  background-color: #f9f9f9;
  direction: rtl;
  text-align: center;
  margin: 0;
  padding: 0;
}

.container {
  margin-top: 100px;
}

button {
  padding: 15px 30px;
  margin: 20px;
  font-size: 18px;
  cursor: pointer;
}

.quiz-container {
  padding: 30px;
}

#timer {
  font-size: 20px;
  margin-bottom: 20px;
}

.navigation button {
  margin: 10px;
}
